<!DOCTYPE html>
% my ($h) = @_;
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--<link rel="stylesheet" href="/static/debug.css">-->
    <link rel="stylesheet" href="/static/hootboxes.css">
  </head>
  <body>
    <section class="hero">
      <div class="hero-body">
        <div class="container center full-width">
          <h1>Hootboxes</h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <form>
          <label>Login
            <input name="login">
          </label>
          <label>Password
            <input name="password" type="password">
          </label>
        </form>
      </div>
    </section>
  </body>
</html>
