<!DOCTYPE html>
% my ($h) = @_;
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--<link rel="stylesheet" href="/static/debug.css">-->
    <link rel="stylesheet" href="/static/hootboxes.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1>Your rewards</h1>
        <div>
          Balance: £0.49
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="reward">
            <h2>Cool reward</h2>
            <p>Piano lesson</p>
            <button>Redeem</button>
          </div>

          <div class="reward">
            <h2>Hootbox</h2>
            <p>It's a mystery</p>
            <button>Open</button>
          </div>

          <div class="reward">
            <h2>Hootbox</h2>
            <p>It's a mystery</p>
            <button>Open</button>
          </div>

          <div class="reward used">
            <h2>Hootbox</h2>
            <p>Box of crayons</p>
          </div>

          <div class="reward used">
            <h2>Hootbox</h2>
            <p>McFlurry</p>
          </div>
        </div>

        <div class="column">
          <div class="reward">
            <h2>Hootbox</h2>
            <p>10p</p>
            <button>Buy</button>
          </div>

          <div class="reward">
            <h2>Cool reward</h2>
            <p>20p</p>
            <button>Buy</button>
          </div>

          <div class="reward">
            <h2>Cool reward</h2>
            <p>20p</p>
            <button>Buy</button>
          </div>

          <div class="reward too-expensive">
            <h2>Mega reward</h2>
            <p>50p</p>
            <button>Buy</button>
          </div>

          <div class="reward too-expensive">
            <h2>Epic reward</h2>
            <p>80p</p>
            <button>Buy</button>
          </div>

          <div class="reward too-expensive">
            <h2>Epic reward</h2>
            <p>80p</p>
            <button>Buy</button>
          </div>

          <div class="reward too-expensive">
            <h2>Legendary reward</h2>
            <p>£1</p>
            <button>Buy</button>
          </div>

          <div class="reward too-expensive">
            <h2>Legendary reward</h2>
            <p>£1</p>
            <button>Buy</button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
